




<div class="table-responsive">
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="align-middle text-center">
                    Name
                </th>
                <th class="align-middle text-center">
                    UserName
                </th>
                <th class="align-middle text-center">
                    Phone Number
                </th>
                <th class="align-middle text-center">
                    Email
                </th>
                <th class="align-middle text-center">
                   Role
                </th>
                @* <th class="align-middle text-center">
                Payment Status
                </th> *@
                <th class="align-middle text-center">
                    Company
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

                    @section Scripts{
                        <script src="~/js/User.js"></script>
                    }